$--color-primary: #2D8075;
$--color-success: #35745C;
$--color-warning: #8A5A20;
$--color-danger: #A94442;
$--color-info: #606F79;
$--color-text-primary: #263238;
$--color-text-regular: #4C5B63;
$--color-text-secondary: #606F79;
$--color-text-placeholder: #606F79;
$--border-color-base: #81939A;
$--border-color-light: #E6EBEE;
$--border-color-lighter: #EDF0F2;
$--background-color-base: #F3F5F7;
$--button-font-weight: 500;
$--border-radius-base: 8px;
$--font-size-base: 14px;
$--table-border: 1px solid #D8E3DF;
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";
:export { theme: $--color-primary; }
